In [1]:
spark.version

'3.0.1'

In [2]:
import subprocess

from pyspark.sql.functions import *
from pyspark.sql.types import *

from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [3]:
spark.conf.set("spark.sql.repl.eagerEval.enabled",True)

In [4]:
directory = 'gs://msca-bdp-tweets/final_project/'
# file = '*.json'
# path = directory + file
path = directory

In [5]:
cmd = 'hadoop fs -du -s -h ' + directory

p = subprocess.Popen(cmd, shell=True, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, universal_newlines=True)
for line in p.stdout.readlines():
    print (line)
    
retval = p.wait()

156.2 G  156.2 G  gs://msca-bdp-tweets/final_project

In [6]:
%%time

tweets_df = spark.read.json(path)

CPU times: user 51.1 ms, sys: 11.9 ms, total: 63 ms
Wall time: 4min 43s

In [42]:
#select variables
data = tweets_df.select([tweets_df.created_at,
                         tweets_df.place.country.alias("country"),
                         tweets_df.id,
                         tweets_df.user, 
                         tweets_df.user['id'].alias("user_id"),
                         tweets_df.user['name'].alias("user_name"), 
                         tweets_df.user['description'].alias("user_description"), 
                         tweets_df.user['followers_count'].alias("followers_count"), 
                         tweets_df.retweeted_status.quote_count.alias("quote_count"),
                         tweets_df.retweeted_status,
                         tweets_df.retweeted_status.retweet_count.alias("retweet_count"),
                         tweets_df.retweeted_status.favorite_count.alias("favorite_count"),
                         tweets_df.text, 
                         tweets_df.user.verified.alias("verified_user")])

In [43]:
import pandas as pd

import pyspark.sql.functions as f

In [44]:
#convert columns with strings that I will use to lowercase

data = data.withColumn("text",f.lower(f.col("text")))

In [45]:
#create dataframes with strings with covid-related terms
covid_data = data.filter((data.text.contains("covid"))\
                          | (data.text.contains("coronavirus"))\
                          | (data.text.contains("pandemic"))\
                          | (data.text.contains("vaccin"))\
                          | (data.text.contains("booster"))\
                          | (data.text.contains("pfizer"))\
                          | (data.text.contains("moderna"))\
                          | (data.text.contains("j&j"))\
                          | (data.text.contains("johnson and johnson")))

In [46]:
#change any nas in count columns to 0
data_df = covid_data.na.fill(value=0,subset=["retweet_count", "quote_count", "favorite_count"])

In [47]:
#drop nulls from other columns
covid_tweets = data_df.na.drop(subset = ['user_description'])

In [48]:
covid_tweets

+--------------------+-------+-------------------+--------------------+-------------------+--------------------+-------------------------------------+---------------+-----------+--------------------+-------------+--------------+--------------------+-------------+
|          created_at|country|                 id|                user|            user_id|           user_name|                     user_description|followers_count|quote_count|    retweeted_status|retweet_count|favorite_count|                text|verified_user|
+--------------------+-------+-------------------+--------------------+-------------------+--------------------+-------------------------------------+---------------+-----------+--------------------+-------------+--------------+--------------------+-------------+
|Sat Oct 30 02:52:...|   null|1454279983531188226|[false, Mon May 2...|          586248544|           Emily Joy|                 Mostly skating ba...|             70|          0|                null|            0|             0|@garraarghhrumph ...|        false|
|Sat Oct 30 02:52:...|   null|1454279984017600512|[false, Sun Mar 2...|1109641163890319360|       Judith Becker|                  Soldier of the Lion|            919|          0|[,, Sat Oct 30 02...|            1|             0|rt @denise_old_la...|        false|
|Sat Oct 30 02:52:...|   null|1454279984198021126|[false, Wed Nov 1...|          214105439|TheRealFourSeason...|                 Often tweets abou...|           1869|          0|                null|            0|             0|@pahpcorn @lisa_t...|        false|
|Sat Oct 30 02:52:...|   null|1454279984466386954|[false, Sat Nov 1...|          954159751|       Aaron Bradley|                 Futures trader. I...|            650|          0|                null|            0|             0|@polan13 @mark_do...|        false|
|Sat Oct 30 02:52:...|   null|1454279985439522822|[false, Sat Mar 1...|1107056255158251520|wadaaa | fucking ...|                 be a crave of pea...|            129|         29|[,, Fri Oct 29 23...|          810|         12952|rt @choi_bts2: it...|        false|
|Sat Oct 30 02:52:...|   null|1454279985519288323|[false, Sat Feb 0...|           20298096| Akira Morgendorffer|                 Chill. Spunky. Aw...|            133|         20|[,, Sat Oct 30 01...|          238|           626|rt @lukewearechan...|        false|
|Sat Oct 30 02:52:...|   null|1454279987012390913|[false, Thu Feb 2...|          117430610|        Onkar Gharat|                 Works @ #SPMRM, M...|            100|          0|                null|            0|             0|while one can sti...|        false|
|Sat Oct 30 02:52:...|   null|1454279987289153536|[false, Sun Jan 2...|           19478009|      Robert rGyatso|                 Add appropriate c...|            557|         10|[,, Sat Oct 30 01...|           34|            71|rt @ctvnews: edmo...|        false|
|Sat Oct 30 02:52:...|   null|1454279992066527234|[false, Thu Jan 1...|          104671559|          Juanita✨🦋|                 Michoacán 🇲🇽❤️ ...|           2758|       1008|[,, Thu Oct 28 08...|        16026|        142579|rt @laurenchloeee...|        false|
|Sat Oct 30 02:52:...|   null|1454279993085677573|[false, Sun Apr 2...|         2454667705|Dr Debbie Wilson ...|                 Healthcare sustai...|           1098|          1|[,, Fri Oct 29 04...|           10|           491|rt @hilstace: one...|        false|
|Sat Oct 30 02:52:...|   null|1454279993496846337|[false, Mon Jan 0...|          453060088|             Chuck W|                 God-follower; hus...|            829|          0|                null|            0|             0|@newsmax then why...|        false|
|Sat Oct 30 02:52:...|   null|1454279994826502144|[false, Sat Jul 0...| 883801533560836096|renjun solo/semi ...|                 #RENJUN main danc...|            375|          0|                null|            0|             0|          fuck covid|        false|
|Sat Oct 30 02:52:...|   null|1454279994537136129|[false, Wed Aug 0...|         2712364604|   Pal-Mac Athletics|                 Director of PE, A...|            932|          0|                null|            0|             0|after covid took ...|        false|
|Sat Oct 30 02:52:...|   null|1454279996785061889|[false, Tue Jan 0...|         4711807032|           Gracie DG|                 Created Twitter d...|             32|          1|[,, Wed Oct 27 15...|          171|           487|rt @karilake: if ...|        false|
|Sat Oct 30 02:52:...|   null|1454279998152511496|[false, Fri Mar 2...|           25421666|       Steve Bottari|                 News anchor at 4,...|           2095|          0|[,, Sat Oct 30 02...|            1|             0|rt @wmtwtv: 12 st...|         true|
|Sat Oct 30 02:52:...|   null|1454279999322796038|[false, Sun Jul 1...|1282417335568150540|Juan Carlitos Alpha.|                     temas generales.|             64|          3|[,, Sat Oct 30 01...|           49|           150|rt @makismd: you ...|        false|
|Sat Oct 30 02:52:...|   null|1454280000694149129|[false, Wed Jun 1...|         3241382496|Dr Vanathi Sethup...|                 Pediatrician by p...|            911|          0|[,, Sat Oct 30 02...|            1|             7|rt @vijay27anand:...|        false|
|Sat Oct 30 02:52:...|   null|1454280001289740297|[false, Thu Jul 0...|1278555109262110720|                Mona|                 I am a curious re...|           6294|          1|[,, Fri Oct 29 08...|            2|             0|rt @gglinskii: ne...|        false|
|Sat Oct 30 02:52:...|   null|1454280002908811269|[false, Mon Mar 1...| 975571314189611008|           🎗️ダミエ|浜松で拾われた捨て猫。ダミ声ゆえに...|             35|         66|[,, Sat Oct 30 00...|         1091|          3408|rt @aginnt: in ve...|        false|
|Sat Oct 30 02:52:...|   null|1454280003412242433|[false, Wed Oct 1...|          389374034|  Drogoslow Pendabär|                 Fascinated by spo...|              4|         77|[,, Thu Oct 28 17...|          977|          3731|rt @aginnt: thous...|        false|
+--------------------+-------+-------------------+--------------------+-------------------+--------------------+-------------------------------------+---------------+-----------+--------------------+-------------+--------------+--------------------+-------------+
only showing top 20 rows

In [16]:
covid_tweets.count()

13672943

In [17]:
covid_tweets.write.format("parquet")\
.mode('overwrite')\
.save('gs://msca-bdp-students-bucket/shared_data/abharathsingh/covid_tweets')

print('done')

done

## about the data slide

In [30]:
verified = covid_tweets.select(['user_id', 'verified_user'])

In [31]:
verified

+-------------------+-------------+
|            user_id|verified_user|
+-------------------+-------------+
|          586248544|        false|
|1109641163890319360|        false|
|          214105439|        false|
|          954159751|        false|
|1107056255158251520|        false|
|           20298096|        false|
|          117430610|        false|
|           19478009|        false|
|          104671559|        false|
|         2454667705|        false|
|          453060088|        false|
| 883801533560836096|        false|
|         2712364604|        false|
|         4711807032|        false|
|           25421666|         true|
|1282417335568150540|        false|
|         3241382496|        false|
|1278555109262110720|        false|
| 975571314189611008|        false|
|          389374034|        false|
+-------------------+-------------+
only showing top 20 rows

In [34]:
verified2 = verified.dropDuplicates(['user_id', 'verified_user'])

In [ ]:
verified2

+-------------------+-------------+
|            user_id|verified_user|
+-------------------+-------------+
|1231330120138444801|        false|
|          258389409|        false|
|1255234506673586177|        false|
|          351094593|        false|
|         1364505452|        false|
|          258000605|        false|
|          541635344|        false|
|1449874633868681220|        false|
| 706209304378896384|        false|
| 703953633327648769|        false|
|1357482945724833795|        false|
| 808484209643778049|        false|
|          119604527|        false|
|          191595253|        false|
|          240638232|        false|
| 896731633704947712|         true|
|         3013891406|        false|
|          302386856|        false|
|         2724558669|        false|
|1338895250677325826|        false|
+-------------------+-------------+
only showing top 20 rows

In [38]:
#verified2.count() #2729579

In [ ]:
verified2.groupby('verified_user').count()

+-------------+-------+
|verified_user|  count|
+-------------+-------+
|         true|  58167|
|        false|2671412|
+-------------+-------+

In [50]:
country = covid_tweets.select('user_id', 'country')

In [51]:
country

+-------------------+-------+
|            user_id|country|
+-------------------+-------+
|          586248544|   null|
|1109641163890319360|   null|
|          214105439|   null|
|          954159751|   null|
|1107056255158251520|   null|
|           20298096|   null|
|          117430610|   null|
|           19478009|   null|
|          104671559|   null|
|         2454667705|   null|
|          453060088|   null|
| 883801533560836096|   null|
|         2712364604|   null|
|         4711807032|   null|
|           25421666|   null|
|1282417335568150540|   null|
|         3241382496|   null|
|1278555109262110720|   null|
| 975571314189611008|   null|
|          389374034|   null|
+-------------------+-------+
only showing top 20 rows

In [52]:
country2 = country.dropDuplicates(['user_id', 'country'])

In [ ]:
country2

+-------------------+-------+
|            user_id|country|
+-------------------+-------+
| 739992995605405696|   null|
|         3071601897|   null|
| 898257324099416064|   null|
|1173295896563519489|   null|
|          717929252|   null|
|1122877132521267203|   null|
|1256792990183538689|   null|
|          336221046|   null|
|1236086143529205761|   null|
|1255938695494066176|   null|
|1266267478201524225|   null|
|           58693509|   null|
|1259821951641620480|   null|
| 914220103104958465|   null|
|1312288328419405825|   null|
|1334907115857534976|   null|
|1018449931869147139|   null|
| 913020411100745728|   null|
| 867946530896048128|   null|
|1270525948379750400|   null|
+-------------------+-------+
only showing top 20 rows

In [ ]:
country2.na.drop(subset = ['country'])

+-------------------+--------------------+
|            user_id|             country|
+-------------------+--------------------+
|          477299648|       United States|
|          741342366|       United States|
|         4747226636|       United States|
|          334036959|              Canada|
|           65358795|       United States|
|           18770158|      United Kingdom|
|1301608249159024641|      United Kingdom|
|           18183896|       United States|
| 732744724394745858|  Republic of Serbia|
|           73212095|       United States|
| 750696816681840640|       United States|
|         1060284390|Kingdom of Saudi ...|
|          534929951|              Canada|
| 817476970544005120|       United States|
|            9362352|       United States|
|          437129513|       United States|
|           21062787|       United States|
|          305309010|         New Zealand|
|           70574657|       United States|
|          179111785|      United Kingdom|
+-------------------+--------------------+
only showing top 20 rows

In [57]:
country3 = country2.groupby('country').count()

In [ ]:
country3.orderBy("count", ascending = False).show(20, truncate = False)

+---------------------------+-------+
|country                    |count  |
+---------------------------+-------+
|null                       |2708673|
|United States              |20583  |
|United Kingdom             |7019   |
|Canada                     |2018   |
|India                      |1789   |
|Australia                  |1231   |
|South Africa               |741    |
|Ireland                    |714    |
|New Zealand                |406    |
|Republic of the Philippines|301    |
|Uganda                     |217    |
|Kenya                      |202    |
|Malaysia                   |191    |
|Spain                      |173    |
|France                     |172    |
|Pakistan                   |156    |
|Germany                    |127    |
|Mexico                     |99     |
|Italy                      |96     |
|Nigeria                    |96     |
+---------------------------+-------+
only showing top 20 rows